# ======================
# Configs gerais
# ======================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/
**/node_modules/

package-lock.json
yarn.lock
pnpm-lock.yaml


dist/
build/

__pycache__/
*.py[cod]

venv/
.env/
env/

pip-log.txt
pip-delete-this-directory.txt

.vscode/
.history/

.DS_Store

Thumbs.db
ehthumbs.db

.env

.env.local
.env.*.local

docker-compose.override.yml
Dockerfile.*

*.orig

coverage/
*.cover
htmlcov/
